[2019-04-12 01:26] pmshukla opened #113 "Having an issue with inriaxmlwrapper"
I got the following error while trying to parse the sample from documentation:-

%Traceback (most recent call last):
  File "sanskrit.py", line 2, in <module>
    from sanskrit_parser.lexical_analyzer.SanskritLexicalAnalyzer import SanskritLexicalAnalyzer
  File "/home/pranav/.local/lib/python2.7/site-packages/sanskrit_parser/lexical_analyzer/SanskritLexicalAnalyzer.py", line 125, in <module>

[2019-04-12 02:13] kmadathil commented on #113
@pmshukla : looks like your pickle file isn't being loaded. Can you do an ls on it?
$ ls -l ~/.sanskrit_parser/data/*

[2019-04-12 12:36] pmshukla commented on #113
I'm actually not able to get the data folder in my sanskrit_parser

` ls -l ~/.sanskrit_parser/data/*`

and for only sanskrit_parser

`pranav@pranav-Aspire-E1-572G:~$ ls -l /home/pranav/.local/lib/python2.7/site-packages/sanskrit_parser/*
-rw-rw-r-- 1 pranav pranav    8 Apr  4 17:50 /home/pranav/.local/lib/python2.7/site-packages/sanskrit_parser/__init__.py
-rw-rw-r-- 1 pranav pranav  176 Apr  4 1

[2019-04-12 14:56] pmshukla commented on #113
@kmadathil
 Isn't the error related to the base URL `https://github.com/drdhaval2785/inriaxmlwrapper/raw/master/`
in inriaxmlwrapper.py which is not found at the moment

[2019-04-12 16:36] avinashvarna commented on #113
Looks like the URL has indeed changed. We will have to update that. But that should have caused an HTTP exception.

If the pickle file does not exist in `~/.sanskrit_parser/data`, execution should not reach line 143. Can you please double check that there is no file in `~/.sanskrit_parser/data`?  Note that `/home/pranav/.local/lib/python2.7/site-packages/sanskrit_parser/data/*` is not the same as

[2019-04-12 17:02] kmadathil commented on #113
Also, if that's the issue, there's a workaround using the option if you're running from the command line
`--lexical-lookup sanskrit_data `

or, if you're using the python snippets

[code]

Please let us know if it works for you.

[2019-04-12 17:06] kmadathil commented on #113
@avinashvarna  @drdhaval2785

Looks like the inriaxmlwrapper files have vanished from github? If we have the xml files available, we can host them here and change the url.

[2019-04-12 18:13] avinashvarna commented on #113
The files are still available in the repo - https://github.com/drdhaval2785/inriaxmlwrapper/. The links to the raw content has changed to https://raw.githubusercontent.com/drdhaval2785/inriaxmlwrapper/master/ instead of `https://github.com/drdhaval2785/inriaxmlwrapper/raw/master/`

[2019-04-12 18:53] kmadathil commented on #113
PR created, please review

[2019-04-12 22:51] kmadathil commented on #107
[code]

[2019-04-12 22:54] kmadathil commented on #107
@avinashvarna - please look into the commit above when you have time. This is the first idea in my comment above - implement a way to match a full word only. The rule now is ^[स,एष][स्] +

I also noticed something, which I didn't change, the rule had + [*अल् - अ] . Shouldn't it be + [*अल्], so we can implement saH + atra -> sa atra?

[2019-04-13 04:54] pmshukla commented on #113
@avinashvarna ok got it as you said "data" folder does exist and output for `ls -l` is
pranav@pranav-Aspire-E1-572G:~/.sanskrit_parser/data$` ls -l
total 38408
-rw-rw-r-- 1 pranav pranav        0        Apr 12 07:21 _all.pickle
-rw-rw-r-- 1 pranav pranav   628134   Apr 11 10:45 SL_adverbs.xml
-rw-rw-r-- 1 pranav pranav        0        Apr 11 10:45 SL_final.xml
-rw-rw-r-- 1 pranav pranav 20749483 A

[2019-04-13 04:57] pmshukla commented on #113
For python code I have already used as stated by you
`analyzer = SanskritLexicalAnalyzer("sanskrit_data")`

[2019-04-13 05:27] avinashvarna commented on #113
Looks like the first time you ran it, the files got created with 0 size due to the broken link. Once PR #114 is merged, please update the code, `rm -rf ~/.sanskrit_parser/data` and rerun.

[2019-04-13 05:30] avinashvarna commented on #107
सः + अत्र = सोऽत्र, which is why the rule has [*अल् - अ]
I will take a look at the fix_107 branch over the weekend.

[2019-04-13 06:20] pmshukla commented on #113
@avinashvarna @kmadathil
I ran the sanskritlexicalanalyzer.py with the link in above description which correctly generated the pickle file which can be accessed.

[2019-04-13 15:51] kmadathil commented on #113
Merged.
@pmshukla: Please remove the old code and `~/.sanskrit_parser/data` directory, install the new code, and please check if you're able to run. If that works, we can close this issue. Thanks for reporting this issue!

[2019-04-13 15:52] kmadathil commented on #107
I think I haven't got the full hang of your syntax then. I misunderstood the `-` as a range indicator (and couldn't parse what that meant) rather than a subtraction. I'll spend some time reading sandhi.py in more detail then. :-)

[2019-04-13 16:03] kmadathil commented on #107
Ok, I think I am a bit confused there. Let me go over this once more.

[2019-04-13 19:03] avinashvarna commented on #107
The minus is indeed a subtraction like a set difference operator. *अल् = {अ, इ, उ, ..., ह्}, अ = {अ}, so [*अल् - अ] = {इ, उ, ..., ह्}. There are no range operators in the syntax. I can add more comments in the rules files if it is still confusing. (It's possible that I didn't update the comments as we developed more advanced ways of writing the rules).

[2019-04-14 02:07] pmshukla commented on #113
@kmadathil
Yup done it and its running

[2019-04-14 02:07] #113 closed

[2019-04-22 19:04] kmadathil commented on #95
This is now more important as a security vulnerability has been flagged

[2019-05-06 01:09] codito commented on #95
Created a fix here: https://github.com/avinashvarna/sanskrit_util/pull/1

[2019-05-06 05:31] avinashvarna commented on #95
Thanks @codito ! Closing issue

[2019-05-06 05:31] #95 closed

[2019-05-12 00:25] avinashvarna commented on #107
The fix seems OK to me. The two tests that are failing on travis could be marked as expected to fail, since the split in the file is misleading (or we can fix it in the file). I think we can add a specific test for this case if necessary. Thanks for making the change!

[2019-05-12 00:31] avinashvarna commented on #96
These look good. What needs to be done to close this issue?

[2019-05-12 01:22] avinashvarna commented on #92
@codito, looks like you provided a fix to python-constraint. Did that resolve this issue?

[2019-05-12 01:26] kmadathil commented on #96
This has been merged already, I'd kept this open for your review.

[2019-05-12 01:26] #96 closed

[2019-05-17 01:55] codito commented on #92
Yes, it does fix the issue.

[code]

[2019-05-17 01:55] #92 closed

[2019-05-17 04:35] kmadathil commented on #107
Handled failing tests as above.

[2019-05-17 04:35] #107 closed

[2019-05-17 04:37] kmadathil commented on #60
Closing. I'll open another issue for py3 vs py2

[2019-05-17 04:37] #60 closed

[2019-05-17 04:37] kmadathil opened #117 "Deprecate py27?"
Should we deprecate py27 support?

[2019-05-17 15:23] drdhaval2785 commented on #117
Currently there are no layman users for the commandline tool.
Only developers would fire these python scripts from commandline.
They can easily download python3 and run the code. Nowadays most linux distros also ship with python3 by default.
So it makes sense to drop python2 support.

[2019-05-17 16:35] avinashvarna commented on #117
I agree. Most major python libraries such as [numpy](https://www.numpy.org/neps/nep-0014-dropping-python2.7-proposal.html) stopped adding new features for py27 earlier this year. We could adopt a similar stance in that old releases will still be available, but new updates/features only support python 3.6+

[2019-05-17 17:05] kmadathil commented on #117
Since @vvasuki recommended this, we'll presume another vote in favor. So, let's go ahead with this.

[2019-05-19 05:17] kmadathil commented on #117
If I try to remove the py27 environment from the tox configuration, travis starts showing XML errors. I do not see these while running tox on my machine.
Please see the no27 branch

[2019-05-20 01:12] avinashvarna commented on #117
I wonder whether this is some instability in travis, because I had to rerun build [202](https://travis-ci.org/kmadathil/sanskrit_parser/builds/533637510) a couple of times before it passed. And that build was just an update to the README!
Rerunning build [208](https://travis-ci.org/kmadathil/sanskrit_parser/builds/534344438) also seems to have caused it to pass.

[2019-05-22 19:46] kmadathil commented on #117
I merged no27, and now I don't see a travis job being kicked off. Something funny is going on.

[2019-05-22 20:04] kmadathil commented on #117
Successfully merged.

[2019-05-22 20:04] #117 closed

[2019-12-30 21:35] kmadathil commented on #65
I have been very impressed with the work of Prof. Amba Kulkarni and associates. Her papers are quite interesting.

I have begun implementing a graph based L3 based on those ideas. Please see branch l3new.

[2020-01-15 18:10] kmadathil commented on #65
@avinashvarna @vvasuki @codito
If you guys are still watching this, please look at the l3new branch. We have simple sentences parsable now.

I have made the following structural changes. Both the `lexical_analyzer` and `morphological_analyzer` packages have been merged into `sanskrit_parser.parser`. I have added scripts/sanskrit_parser which works as the command line engine.

[code]

I've attached

[2020-01-15 21:47] avinashvarna commented on #65
That is pretty impressive. I will take a look at the new branch over the weekend

[2020-01-16 01:36] vvasuki commented on #65
Why not the following split - "देवदत्तः अग्रामम् गच्छति"?
Also, will "देवदत्तोग्रामङ्गच्छति" yield similar results?

[2020-01-16 17:13] kmadathil commented on #65
Second question - Yes:
[code]

[2020-01-16 17:16] kmadathil commented on #65
"Why not the following split - "देवदत्तः अग्रामम् गच्छति"?" - It does appear in the splits (, so a high enough --max-paths will produce that too in the parses. The default for vakya analysis is --max-paths 1

[code]

[2020-01-16 17:46] kmadathil commented on #65
As of now, we find paths through the `SandhiGraph` and create a `VakyaGraph` for each path. Once we're happy with these, we can go on to creating a `VakyaGraph` directly from a `SandhiGraph` instead. This will require algo tweaks.
The basic algorithm to come up with a valid parse is a generalized spanning tree, which is known to be NP. We need to tread carefully.

[2020-01-27 19:05] kmadathil opened #119 "Revamp SanskritObject/SanskritString class hierarchy"
1. What should be the appropriate hierarchy. Keep the future sanskrit_parser.generator in mind as well.
2. Do we really need SanskritImmutableString - why? (Needs to be documented)
3. Functions should be able to use the most flexible object, as Avinash's comment above indicates. They need to convert internally.

[2020-01-27 19:08] kmadathil opened #120 "Programmatic usage - better wrapper functions"
Until we merge the process of generating splits and parses, we will probably need two wrapper functions
1. Wrapper function that yields splits
2. Wrapper function that yields parses given a split

@avinashvarna , @vvasuki @codito  - thoughts?

[2020-01-27 19:09] kmadathil opened #121 "Setuptools recommends using entrypoints rather than scripts"
We have scripts/sanskrit_parser, which is deployed by setuptools. Can we move to entrypoints, which are more portable as per setuptools.

[2020-01-27 19:13] kmadathil opened #122 "scripts/sanskrit_parser: dot files can be written only from the last split"
One possible fix is to return a list of vgraphs, and output `_splitx.dot` and `_splitx_parsey.dot` for `x in splits` and `y in parses for each split`.

[2020-01-27 19:15] kmadathil opened #123 "Revamp tests"
1. Update pass/fail list generators
2. Change test names to reflect new names
3. Add Vakya Analyzer tests (supercedes #46)

[2020-01-27 19:15] kmadathil commented on #46
Superceded by #123

[2020-01-27 19:15] #46 closed

[2020-01-29 02:11] avinashvarna commented on #120
From the module user point of view;, I think an ideal API would allow code like this:
[code]

The intermediate objects returned by `parser.splits()` and `split.parse()` can be `LexicalGraph`, `VakyaGraph` or something else entirely, as long as a simple API is exposed to convert to strings, serialize to JSON with different encodings (SLP1/Devanagari), etc., that a typical user might need. This way,

[2020-01-29 02:21] avinashvarna commented on #119
Is the `sanskrit_parser.generator` for generating sentences? Or is it the same as #120 ? In either case, for point 3, IMHO entry points should use normal Python strings.

[2020-01-29 16:57] avinashvarna commented on #120
Or the following slight variation, which is marginally clearer:
[code]

I can take a stab at creating such an interface for review if there are no objections.

[2020-01-29 18:25] kmadathil commented on #120
Looks good, please go ahead! Thanks!

[2020-01-29 18:30] kmadathil commented on #119
`sanskrit_parser.generator` was intended to be a place holder for a forward pass "generator" which we've briefly touched upon. The first subtask would be to implement the forward pass sandhi generator, then we could move onto tiNanta, subanta, generators etc.

You're right, it'd be much more elegant to hide most of our internal complexity and keep the interface simple.

[2020-02-02 01:23] avinashvarna commented on #120
Please take a look at commit 19417ab. It has an implementation for the above interface, that will work to unify the CLI and REST API. Previously, the output_encoding is hard-coded to devanagari for REST API and SLP1 for CLI. This API implementation gives us the flexibility to support any encoding, and also allows the user of the module in a programmatic setting to specify any desired supported enc

[2020-02-02 01:32] avinashvarna commented on #120
In general, I think we need to make a concerted effort to use classes and other recognizable structures more often. Coming back to this project after a while, it took me a long time to figure out what the format for tags, etc. was, because most of them are just lists and tuples, which don't carry any object information with them.

[2020-02-02 22:28] avinashvarna commented on #119
I think answering

for all the classes would help. In other words, what exactly are the requirements for the various objects in the different functions and modules? Then we can see if we can simplify the hierarchy.

[2020-02-03 19:11] kmadathil opened #124 "कविका तु खलीनोऽस्त्री कविकं कर्षणीत्यपि"
कविका तु खलीनोऽस्त्री कविकं कर्षणीत्यपि ।_Split
--- Please enter your issue below ---
 नह्येकमपि समीचीनः सन्धिच्छेदो लभ्यते।

@vvasuki-ना प्रेषितः सन्देशः

खलीन इति शब्दोस्माकं कोशेषु नैव दृश्यते । तस्मादस्य वाक्यस्य विच्छेदोप्यसम्यक्कृतः । खलिन इति रूपभेदो दृश्यते, तद्युकतवाक्यस्य सन्धिच्छेदोपि यथाकामं भवति

kavikA, kavikam, and karShaNI are in our dictionary, but khalInaH is not. (khalinaH is, t

[2020-02-03 20:18] kmadathil commented on #120
Took a quick look through the code - looks good. I wonder if you're compensating for some underlying deficiencies in our class design, though. If you had carte blanche, would you keep the underlying classes or merge them into your api classes somehow?
For example, it seems to me that LexicalSandhiAnalyzer could be renamed Parser, and your parse method can be added in. ParseTag could  be what our l

[2020-02-04 00:35] avinashvarna commented on #120
Yes, I agree that our underlying classes could be better designed to directly support this API. (That is what I had in mind in my previous comment - though I could have been clearer). We could still make the changes. It would be a slightly larger redesign effort though.

[2020-02-04 22:00] kmadathil commented on #120
Fair. I've made a couple of changes and pushed to api, please take a look (we can revert if you don't like them)
1. input_encoding and output_encoding were asymmetric in your implementation - I've made them symmetric ("SLP1" vs "slp1")
2. Added api.Parser to sanskrit_parser/__init__.py, so we can `from sanskrit_parser import Parser`

I need to see if we can use the same api for the command line sc

[2020-02-05 04:43] avinashvarna commented on #120
I'll take a look at the changes, but some quick comments:

This was my intention also. I wanted to make sure we agreed this was a good path forward before I made too many changes

We should not mix debugging info with real output. IMHO, not too many users of the CLI will care about intermediate times. Such info should really be logged with level `debug`, and if a developer wanted to look at the ti

[2020-02-05 16:58] kmadathil commented on #120
Makes sense. I was coming at it from the pov of replacing the current main() in vakya_analyzer with this api.

That was just one import, btw. I haven't moved code.

[2020-02-05 21:43] kmadathil commented on #120
I've added an l3api branch with `vakya_analyzer.main` modified to use the new api. Please take a look. The question to answer here is if it is worth using the api for the command line scripts as well. To be able to do that, I've added a few `logger.debug` calls inside the api.

[2020-02-07 04:26] avinashvarna commented on #120
I may be a bit biased, but personally, I feel that the `vakya_analyzer.main` code is much cleaner now.

I definitely think so. This allows easier maintainability. If we change something underneath the hood, but the external API is the same, then none of the CLI, REST API files would need to change. Currently, we need to go change each of them - Like adding the `jedge, jnode` methods now.

These ar

[2020-02-07 22:24] kmadathil commented on #120
I agree. I'll merge into l3new (and eventually master) and delete this branch.

There are two parts to this - setting up the logger itself and setting up handlers. I think setting up the logger is necessary (so that there's a logger at the sanskrit_parser level. I agree that setting up handlers is probably excessive. Perhaps I could wrap them in functions which could then be called from any enclos

[2020-02-08 18:16] avinashvarna commented on #120
I wonder whether these are functions that another script that is importing `sanskrit_parser` would want to use? IMHO, the answer is mostly no. Usually, the task of configuring the logging handlers is the responsibility of the script that is being executed. Hence, I think putting them in `scripts/sanskrit_parser` makes more sense.

On the other hand, implementing a solution for #121 may require the

[2020-02-19 00:05] kmadathil commented on #121
@avinashvarna - does 4b8c139 solve the issue?

[2020-02-19 00:06] kmadathil commented on #120
I think we can close this issue. @avinashvarna  - please look at the current state of l3new, and if it looks ok, I'll merge to master. If the current state of logging is insufficient, we can open another issue for that.

[2020-02-19 00:07] kmadathil commented on #122
Fixed in l3new, will make it to master soon

[2020-02-19 00:07] #122 closed

[2020-02-26 11:33] pmshukla opened #125 ""No Module named sanskrit_parser.parser""
from sanskrit_parser.parser.sandhi_analyzer import LexicalSandhiAnalyzer
is giving me an error as "No Module named sanskrit_parser.parser".
When i check the site packages there is no folder named parser which i think causes the error.

[2020-02-26 15:53] avinashvarna commented on #125
Which version of the package are you using?
This import:
[code]
will only work in the latest version that is currently in git. Can you please update to the latest version? E.g. using
[code]

We will probably make some API changes soon to make the interface easier to use (as described in #120) and release a new version to pypi as well. If you prefer, you could just wait till we release a new packag

[2020-02-26 15:54] avinashvarna commented on #120
Will do it soon (by this weekend at the latest).

[2020-03-09 00:32] avinashvarna commented on #120
Sorry for the delay. The `l3new` branch looks good. I made some minor changes such as using `pydot` instead of `pygraphviz` which is easier to install on windows using `conda`.

I am not in favor of enabling file logging if the user has not enabled debug (https://github.com/kmadathil/sanskrit_parser/blob/66174aea561577e863f264207b36514b2e3db0d2/sanskrit_parser/cmd_line.py#L211), since it creates a

[2020-03-09 00:33] avinashvarna commented on #121
Closing as  4b8c139 and 05382e8 together solve this issue

[2020-03-09 00:33] #121 closed

[2020-03-09 22:04] kmadathil commented on #120
I've changed logging so that file logs get written only when --debug is selected. My preference for always logging is idiosyncratic, and will not translate to most users, so I agree with your preference.

Merged to master and released to PyPI

[2020-03-09 22:04] #120 closed

[2020-03-09 22:05] kmadathil commented on #125
Please reinstall from PyPI - the new release will bring the package and github documentation back in sync.

[2020-03-09 22:05] #125 closed

[2020-04-16 08:45] poojapi commented on #89
I can look into this if not already taken by someone else.

[2020-04-16 08:48] poojapi opened #126 "Vakya Analyser Error"
I tried the following as a sentence - "matteBendraviBinnakumBapiSitagrAsEkabadDaspfhaH" but getting following error

Traceback (most recent call last):
  File "sandhi_split_v2.py", line 14, in <module>
    for split in parse_result.splits(max_splits=10):
  File "/usr/local/lib/python3.7/site-packages/sanskrit_parser/api.py", line 119, in splits
    split_results = self.sandhi_graph.find_all_paths(

[2020-04-16 12:30] poojapi commented on #89
Is this task still open?

[2020-04-16 16:02] kmadathil commented on #89
Very much so. Appreciate if you can take it up. There's an initial test in there, it needs to be triaged so we can fix the genuine fails.

[2020-04-16 16:14] kmadathil commented on #126
Looks like some of the early documentation might not have survived some recent changes. The command line works for this input.
[code]
sanskrit_parser.cmd_line.sandhi() would be a better prototype for your code.

[2020-04-16 16:16] kmadathil commented on #126
Some of the api documentation needs to be relooked at.

[2020-04-16 16:34] avinashvarna opened #127 "Use package_data to distribute data"
We've had various issues with the distributing the various data files needed for our scripts (E.g. #36) and the recent email report by @poojapi. We should move to a standard python supported method of using [package_data](https://docs.python.org/3/distutils/setupscript.html#installing-package-data) and [importlib.resources](https://docs.python.org/3/library/importlib.html#module-importlib.resource

[2020-04-16 16:42] avinashvarna commented on #126
Thanks @kmadathil ! I must say, on the whole I'm pretty impressed/happy that the parser produced a good quality split for such a long pada!

[2020-04-17 06:25] poojapi commented on #126
I tried with the cmd line tool and it worked. But with the entire verse -

 sanskrit_parser sandhi "kzutkzAmopijarAkfSopiSiTilaprAyopikazwAMdaSAmApannopivipannadIDitirapiprAyezunaSyatsvapi matteBendravipinnakumBapiSitagrAsEkabadDaspFhaHkiMjIrRaMtfRamattimAnamahatAmagresaraHkesarI"

ParseResult('kzutkzAmopijarAkfSopiSiTilaprAyopikazwAMdaSAmApannopivipannadIDitirapiprAyezunaSyatsvapi matteBendravipi

[2020-04-17 06:30] poojapi commented on #89
I will work on it then. Thanks!

[2020-04-17 17:00] kmadathil commented on #89
@poojapi Whichever way works for you is fine.
My preference is to go for the false fails first - that'll remove a lot of the 600 fails, then figure out the true fails. However, if you think it's more productive to report the true fails, please go for it. Both move us towards the end goal

[2020-04-17 17:03] kmadathil commented on #126
There is no upper limit in theory. We haven't tested for very long phrases. However, it should not crash in any case.

[2020-04-17 17:17] kmadathil commented on #126
Spelling mistake :-)
I corrected the verse, and it works. Nice choice of verse, @poojapi
$ scripts/sanskrit_parser sandhi "kzutkzAmopijarAkfSopiSiTilaprAyopikazwAMdaSAmApannopivipannadIDitirapiprAyezunaSyatsvapi matteBendraviBinnakumBapiSitagrAsEkabadDaspfhaHkiMjIrRaMtfRamattimAnamahatAmagresaraHkesarI"
[code]

[2020-04-18 06:13] poojapi commented on #89
I'm done with the task. Wrote a script to parse the json output in the logs to print out the false positives and the failures. All of them are false positives. There is not a single really failed entry.  Will raise a PR for the failure analyser I wrote.

[2020-04-18 16:46] avinashvarna commented on #126
@kmadathil  Good catch!
Part of the reason for the splits with 'U' etc is that MW dictionary (which is one of the pada sources we use) has a lot of these ekAkShara words. The lexical scorer produces a higher score for these compared to the longer words - likely a side-effect of using sentencepiece in the scoring. Maybe a combined score that weights the number of words with the lexical score could

[2020-04-18 17:10] avinashvarna commented on #126
Regarding a better approach for scoring, we already have #93 open to discuss options

[2020-04-18 17:14] avinashvarna commented on #124
Currently we use data from MW and Inria. So neither contains this word. Should we have a "user-contributed list" of missing words? Or add other dictionaries? If we add other dictionaries, we have to handle the problem of the same word appearing in multiple dictionaries. This is already a problem with the two sources we use, leading to the same split showing up twice sometimes.

[2020-04-18 22:46] kmadathil commented on #124
I'm leaning towards a contrib dictionary - we could maintain a list of words not in INRIA/skt_data, in a specific format, and optionally enable or disable that list of words (orthogonal to the other dictionaries). This could simply be a JSON of words/tags.
What process should we follow for adding/deleting words?

[2020-04-18 22:56] kmadathil commented on #126
I'll open another issue for gracefully handling the no-splits-available case.

Carefully checking isn't that easy, as we find here. I didn't notice the spelling error initially, and had to resort to good old binary search to debug and finally figure out that there was a spelling error :-)  Perhaps an option to output devanagari instead of SLP1 would help, which could be turned on if the terminal d

[2020-04-18 22:57] kmadathil opened #129 "Gracefully handle the case were no sandhi splits are found."
As reported in #126, both our API and associated sample code in the documentation need to be enhanced to gracefully terminate if no splits are found and suggest that the user carefully check for input errors.

[2020-04-18 23:38] kmadathil commented on #89
@poojapi
The file  `generate_bg_LexicalAnalyzer_pass_fail.py` generates the pass/fail list. What it does is, parse "sandhi_test_data/gitAanvayasandhivigraha.itx" and generate a test json object from the output. We then call `test_splits` with the 'full' and 'split' (which are the input string and the expected split as parsed from the file), which returns true or false depending on whether the  int

[2020-04-18 23:42] kmadathil commented on #89
So, if you want to start from scratch and revamp the `generate_bg_LexicalAnalyzer_pass_fail.py` to use our new API interface, and take a look at the way I'm translating from itx into inputs for our sandhi splitter that might be more interesting for you. While doing that, you might just eliminate most of the fails by finding errors in the translator.

[2020-04-18 23:47] poojapi commented on #89
Now i get it. I actually went through the logs and had some doubt. Your comment clarified them. I will do this as indicated and get back to you. Thanks for the explanation. Makes a lot of things clear.

[2020-04-19 03:39] drdhaval2785 commented on #124
I strongly recommend against a user contributed dictionary. If the largest dictionary does not contain this word, let us leave it.

[2020-04-19 03:53] poojapi commented on #124
How about VCP and SKD? Also apte?  These are the standard dictionaries that include a wide range of words.  One could easily dedup them and keep one instance of the words in one corpus.

Actually when I wrote a simple samasa splitter based on Dr.Dhaval's code, I had created a dictionary AM - which had Apte, MW, SKD and VCP words deduped.

I'm also against the user-contributed dictionary as it will

[2020-04-19 04:07] drdhaval2785 commented on #124
If we want to cover all Sanskrit dictionaries, there is already a readymade resource. No need to apply fresh mind.

https://github.com/sanskrit-lexicon/hwnorm1/blob/master/sanhw1/hwnorm1c.txt

Roughly 400000 headwords, deduplicated.

[2020-04-19 04:57] avinashvarna commented on #124
Input from @drdhaval2785 and @poojapi makes sense. Maintaining a user-contrib dictionary can lead to inaccuracies which can be a headache to deal with.

I will take a look at the hwnorm1c.txt to see if we can switch to using that.

[2020-04-19 05:06] avinashvarna commented on #124
Unfortunately, hwnorm1c.txt doesn't appear to have linga/avyaya/gaNa information. @drdhaval2785/@poojapi - are you aware of any similar deduped resource that includes this information?

[2020-04-19 05:11] drdhaval2785 commented on #124
Just to understand, is there actually a need for linga, avyaya, gana information?

Do we generate the forms on the fly, based on these information?

[2020-04-19 05:15] avinashvarna commented on #129
I can take a stab at this.

[2020-04-19 07:43] avinashvarna commented on #124
Yes, we use the [sanskrit_util](https://github.com/avinashvarna/sanskrit_util/) library which uses the avyaya/linga information to analyze forms on the fly. Otherwise, we would have to store all possible vibhakti/vachana combinations for all nAmapadas (which is the INRIA approach).

[2020-04-21 09:14] gasyoun commented on #31
For sandhi frequency is a must.

[2020-04-21 09:14] gasyoun commented on #126
I want to test it. How to?

[2020-04-21 15:04] poojapi opened #131 "Unable to run sanskrit_parser"
I installed the master branch on my local with python3 setup.py install and when i tried to run the parser gettting following error

[code]

[2020-04-21 15:52] kmadathil commented on #89
@poojapi
Correct. That rewrite is what #123 is about. If you change the scripts to match the new API, you'd have solved that too. Let's change the name too - say, generate_bg_sandhi_pass_fail.py etc.

[2020-04-21 22:30] #129 closed

[2020-04-21 22:31] kmadathil commented on #126
Closing based on #129

[2020-04-21 22:34] kmadathil commented on #126
@gasyoun - presuming you want to test vakya analyzer, it is preliminary right now, and can handle simple sentences. The best way to test it right now, while we get the web interface updated is to install it with `pip install sanskrit_parser`, and run it as in the docs page https://kmadathil.github.io/sanskrit_parser/build/html/

[2020-04-21 22:34] #126 closed

[2020-04-22 00:03] kmadathil opened #132 "Help message is uninformative"
Side effect of the new api - need to make the right help message come up too

[code]

[2020-04-22 00:34] kmadathil opened #133 "Dot file written wrong"
Not sure how this cropped up, possibly after we switched to pydot from pygraphviz

[code]

As can be seen above, the nodes are written out without the index, which causes them to appear as floating nodes in the graph.

[2020-04-22 00:40] kmadathil commented on #133
@avinashvarna  - can you take a look if possible? I haven't dug into pygraphviz vs pydot before.

[2020-04-22 00:44] kmadathil commented on #133
By comparison, this is the output of pygraphviz. Only the edges are written, the floating nodes do not appear.

[code]

[2020-04-22 05:37] avinashvarna commented on #126
I'll also open an issue for the web interface, and tag it "help wanted". Maybe some new contributor can help us with this.

[2020-04-22 05:43] avinashvarna commented on #133
Will take a look

[2020-04-22 08:07] avinashvarna commented on #126
Might be good to file an issue to deploy a standalone web interface and mark it "help wanted". Who knows, maybe someone looking to contribute may be able to help. I will file one.

[2020-04-22 17:01] avinashvarna commented on #133
It appears to be happening due to the ":" used on this line. Apparently, colon is a reserved character in the dot format for indicating the port. Perhaps pydot enforces this more strictly than pygraphviz. See [this SO thread](https://stackoverflow.com/questions/33722809/nx-write-dot-generates-redundant-nodes-when-input-nodes-have-a-colon?noredirect=1&lq=1)  for example.

There is a workaround sugg

[2020-04-22 17:10] avinashvarna commented on #133
Edited previous comment to add link to line of code.

[2020-04-22 19:47] kmadathil commented on #133
Thanks. Moved to space as a separator. That seems to work well enough.

[2020-04-22 19:47] #133 closed

[2020-04-22 21:37] kmadathil opened #134 "Web service"
Our old web service is out of date. We need to set up a new one or update the code on the old one. @vvasuki had indicated he did not have access to that server any more.

I will set up an EC2 server temporarily, but we need a more scalable solution. Possibly, a serverless solution like AWS Lambda.

[2020-04-23 01:27] kmadathil commented on #134
I have a very basic setup running on a EC2 micro server. Ideally, this needs a load balancer and multiple workers behind it to handle any serious load. I have not got the graphs working yet for some reason.
The setup is gunicorn + nginx reverse proxy
I have mapped the url skt_parser_api.madathil.org (a domain I own) to the EC2 server address. Again, this needs to be through something more flexible

[2020-04-23 01:49] kmadathil commented on #126
I've opened #134

[2020-04-23 05:00] gasyoun commented on #134
And there will be an API, right, as well?

[2020-04-23 05:56] avinashvarna commented on #134
@gasyoun There has been an API for a long time. The web site/server is really just to host the API. E.g. take a look at http://skt_parser_api.madathil.org/sanskrit_parser/v1/splits/astyuttarasyAMdizi

[2020-04-23 06:03] avinashvarna commented on #134
@kmadathil Is it possible to add a [let's encrypt](https://letsencrypt.org/) SSL certificate and enable HTTPS? Currently, the request from the [UI](https://kmadathil.github.io/sanskrit_parser/ui/index.html) is blocked on both FF and Chrome since the https UI webpage is trying to load unencrypted content.

[2020-04-23 06:10] avinashvarna commented on #132
How about using a standard package like [click](https://click.palletsprojects.com), which appears to support [nesting commands](https://click.palletsprojects.com/en/7.x/quickstart/#nesting-commands) ?

[2020-04-23 06:39] avinashvarna commented on #134
My bad. Just saw your note about enabling mixed content. It wasn't in the email, and I missed it.

[2020-04-23 07:08] vvasuki commented on #134
@kmadathil Could you share how you got the  EC2 micro server running? step-by-step procedure, script etc.. so that the path is easier for future coders.

[2020-04-23 16:40] kmadathil commented on #134
@avinashvarna - I'll add HTTPS too soon
@vvasuki - sure, I will add documentation to the repo on how to replicate this.

[2020-04-23 17:44] kmadathil commented on #134
@gasyoun - Our API library lets you play with it directly using this URI
http://skt_parser_api.madathil.org/sanskrit_parser/docs

[2020-04-23 19:54] kmadathil commented on #134
README_ec2.md added with a description of steps to bring this basic setup up

[2020-04-24 04:36] kmadathil commented on #132
Yes, we need a better package than argparse. click looks like a good option. I've committed a workaround for now, but this is another one which needs a good solution.

[2020-04-24 21:36] gasyoun commented on #132
So this is a 2nd Sanskrit parser additional to Huet's?

[2020-05-03 16:01] poojapi opened #136 "Using ITRANS as input_encoding errors out"
I'm using the parser in the tests as follows ->

`lexan = Parser(input_encoding='ITRANS', replace_ending_visarga='s')`

But getting the following error while parsing

[code]

When I tried changing the code in api.py to use itrans in caps like this -> `self.input_encoding = SCHEMES[self.input_encoding.upper()]`, I did not get any error.

[2020-05-03 23:56] kmadathil commented on #136
use `input_encoding='itrans'` instead.

@avinashvarna , could you comment on the choice of lowercase convention for the api?

[2020-05-06 05:29] avinashvarna commented on #136
We can remove the `dataclass` annotation and add an `__init__` function to the Parser. I will make this change to keep it simple.

[2020-05-06 23:33] kmadathil opened #137 "Vakya Analysis - Need multi-edges in graphs"
Currently, we're limited because we can't have multiple possible edges between nodes (our underlying datastructure is a digraph)
  - gaunakarma - (karta aNau) for Rijanta dhAtu
  - gaunakarma for dvikarmakas
  - BAvalakzaRa vs aDikaraRa
  - non-kAraka vibhaktis
(Possible more)

To fix this, we need to change the underlying datastructure into a Multigraph.

[2020-05-06 23:39] kmadathil opened #138 "Vakya Analysis - Add conjunctive and disjunctive forms"
form 1
   ramaH ca lakzmaRaH ca gacCataH
   ramaH ca lakzmaRaH ca sItA ca gacCanti
 form 2
   ramaH lakzmaRaH ca gacCataH
 form 1a/2a
   gacCati instead of gacCataH

Disjunctive (all these forms with vA)

Possible solution

 Preprocess graph
  (form -> same viBakti (in general sense, including tip) -> (ca)*)0+ (form -> same viBakti (in general sense, including tip) -> (ca))

  Add "optional" linga

[2020-05-16 10:59] pmshukla opened #139 "Add split for a word"
I would like to add a split for word "विडंगान्यथा" which i get as "1)विट्-अङ्ग-अन्यथा 2)विड-अङ्ग-अन्यथा"
but should be "विडङ्ग-अन्यथा". How can i add this split.

[2020-05-18 06:34] avinashvarna commented on #139
I get the following output:
[code]
The first two splits appear to be what you are asking for. Are you using an older version of the parser?

[2020-05-18 11:31] pmshukla commented on #139
Yes the version shown is 0.0.4. I will need to update it. Thank you.

[2020-05-18 11:31] #139 closed

[2020-06-26 15:41] kmadathil opened #140 "Installation issues"
[code]
Reported on email by Vinodh Rajan

[2020-06-26 15:42] kmadathil commented on #140
Repro'ed by fresh install in a virtualenv after clearing ~/.sanskrit_parser

Fixed by
1. Uploading new version onto PyPI
2. Clearing ~/.sanskrit_parser/*
3. Fresh install of pip install sanskrit_parser in a virtualenv.

[2020-06-26 15:45] kmadathil commented on #140
The `~/.sanskrit_parser/` directory is a source of pain. I suggest we
1. Explicitly tell the user when we are downloading/caching stuff in that directory
2. Mark the version used to create data and prompt the user to recreate or not if the version changes
Thoughts? @avinashvarna

[2020-06-26 16:04] kmadathil commented on #136
@avinashvarna - if the fix above is not merged yet, can you cherry pick that into master?

[2020-06-26 16:27] avinashvarna commented on #140
I think #127 is the solution. It will be part of the pip package, and a pip remove will clear it and an install will overwrite it. They will not go out of sync.

[2020-06-26 16:37] kmadathil commented on #140
Closing

[2020-06-26 16:37] #140 closed

[2020-06-27 00:36] kmadathil opened #141 "Indic Transliteration Issue"
Reported as https://github.com/sanskrit-coders/indic_transliteration/issues/39

If you see something like this (Devanagari output where SLP1 is expected):
[code]

Please downgrade indic_transliteration with `pip install indic_transliteration==1.9.4`

[2020-06-27 00:46] kmadathil opened #142 "Vakya analysis of namonamaH"
[code]

[2020-06-29 14:23] avinashvarna commented on #141
Should we update our dependencies in setup.py to use indic_transliteration>=1.9.7 (now that it's fixed)?

[2020-06-29 15:24] kmadathil commented on #141
Yes we should.

[2020-07-03 17:25] avinashvarna commented on #136
Applied the patch to master.

[2020-07-03 18:55] #136 closed

[2020-07-06 05:30] avinashvarna commented on #136
Can you please push an update to pypi if everything works as expected? Maybe also fix #141 while at it?

[2020-07-07 19:37] #141 closed

[2020-07-07 19:38] kmadathil commented on #141
I have updated install_requires to skip 1.9.5 and 1.9.6.
The version with the fix 1.9.7 is not on pypi yet

[2020-07-07 19:41] kmadathil commented on #136
Done.

[2020-08-01 03:15] am4096 opened #143 "Input Encoding choices"
SOLVED THIS ISSUE by using Devanagari instead of DEVANAGARI. Have other problems, though. (Abhijit)

# Option 1
from sanskrit_parser.base.sanskrit_base import SanskritObject, DEVANAGARI

# Option 2
parser = Parser(input_encoding="DEVANAGARI",
                output_encoding=output_encoding,
                replace_ending_visarga='s')
parse_result = parser.parse(... name of input string here ...)

[2020-08-01 16:42] am4096 commented on #143
SOLVED THIS ISSUE by using Devanagari instead of DEVANAGARI. Have other problems, though.

(Abhijit)

[2020-08-02 02:12] kmadathil commented on #143
Hi Abhijit,

Please report to other issues so we can look at them,

Thanks!

On Sat, Aug 1, 2020, 9:43 AM am4096 <notifications@github.com> wrote:

[2020-08-03 13:06] avinashvarna commented on #143
There is an inconsistency in the naming convention of indic_transliteration, which uses lowercase (https://github.com/sanskrit-coders/indic_transliteration/blob/0a43c6e0dc852bf13d80d7cd7a94fe9050b761c7/indic_transliteration/sanscript/schemes/brahmic/northern.py#L116), versus sanskrit_base, where we capitalize the first letter vs the python variables which are all upper case. I think it may be good

[2020-08-03 18:53] kmadathil commented on #143
Agree. Capitalizing the first letter in the string may not have been a great choice. Let's go with your idea of making the examples and the API use the uppercase Python variables.

[2020-10-03 18:27] kmadathil commented on #65
Closing this - any particular issues with this can be discussed in separate threads

[2020-10-03 18:27] #65 closed

[2020-10-03 18:29] kmadathil commented on #89
@poojapi  - Are you still looking at this?

[2020-10-03 18:37] kmadathil opened #144 "Paninian Generator"
FYI - I have begun coding a Paninian generator. The goal is to implement the ashtadhyayi plus vartikas as needed.
As of now, a basic skeleton that handles some pada-sandhi rules has been committed. Over time, I hope to add more rules, and move the process backward, eventually going through the following steps.

 1. Semantic tag input
 2. Prakriti + Pratyaya selection
 3. Prakriti + Pratyaya transf

[2020-10-03 19:08] avinashvarna commented on #144
I think @drdhaval2785 has implemented similar generators. See https://github.com/drdhaval2785/SanskritVerb which I believe now has the older Subanta generation repo merged in. It includes a sandhi generator as well. Should we look at leveraging it before reimplementing?

[2020-10-04 07:38] drdhaval2785 commented on #144
Would be happy to help.

[2020-10-05 16:38] kmadathil commented on #144
Sure, we should.
@drdhaval2785 - I had looked at this, and I remember we'd discussed this briefly as well. Is this completely in PHP, or is there a python version available? I remember you mentioning that this is a linear application of sutras based on the SK order - do I recollect it right?
What would be the best way to leverage this?

[2020-10-06 01:01] drdhaval2785 commented on #144
This is purely in PHP. No python version available. I do not have the time for converting it to Python. I will go through your code and let you  know what bottlenecks I went through, so that you can make your designing decisions better. I regretted about some of my choices, but it was too late.

[2020-10-06 16:02] kmadathil commented on #144
Thank you very much. It would be great if you could point to parts of your
php that you think are best to reuse (I'm sure there are a lot). We can
take up the conversion.
The architecture I've tried to pick is classic Paninian, rather than SK
based - so not a linear run of sutras.

On Mon, Oct 5, 2020 at 6:01 PM Dr. Dhaval Patel <notifications@github.com>
wrote:

[2020-10-08 08:28] poojapi commented on #89
@kmadathil Sorry, I had lost touch due to some other commitments. Will work on it this weekend.

[2020-10-08 14:40] kmadathil commented on #89
No rush, just checking. Please do it at your leisure.

On Thu, Oct 8, 2020, 1:28 AM Pooja P <notifications@github.com> wrote:

[2020-10-12 18:33] kmadathil opened #145 "Vakya analysis: scripts/sanskrit_parser vakya "SabdEH prAboDyata mahAbAhurdaSagrIvo mahAbalaH""
Issue:
  1) kartA edge doesn't get added because an incorrect vacana check is done between the karmaRi kriyA and the possible kartA
  2) karaRa edge doesn't get added because multiedges  do not work yet.

Even with limitation two, this should lead to a valid parse, which it does not.

[2020-11-05 01:12] kmadathil commented on #134
Updated to enable https - need not enable mixed_content now

[2020-12-28 05:19] drdhaval2785 opened #146 "No module named 'dataclasses'"
Version - sanskrit-parser-0.1.0.post3
Error report
[code]

[2020-12-28 05:23] drdhaval2785 opened #147 "UI not working"
UI at https://kmadathil.github.io/sanskrit_parser/ui/index.html is not returning any results.
If I chose `Analyse Pada` and write 'Davalasya' in the text box and click 'Go',
Nothing is returned.

Console shows that a call to https://sktparserapi.madathil.org/sanskrit_parser/v1/tags/Davalasya is made, but no response comes back.

[2020-12-28 05:25] kmadathil commented on #147
I have disabled the UI backend since I didn't see any usage, and the server
is paid. I'll enable if there is interest

On Sun, Dec 27, 2020, 9:23 PM Dr. Dhaval Patel <notifications@github.com>
wrote:

[2020-12-28 05:26] drdhaval2785 commented on #147
I do not have any preference for the UI.
But I was exploring it, because the CLI also did not work for me.
See #146

If that is fixed, I have no interest in the UI working.

[2020-12-28 05:31] kmadathil commented on #146
Please upgrade to python 3.7
dataclasses is 3.7 specific.

[2020-12-28 05:32] kmadathil commented on #146
I see that the README was not updated after we migrated to 3.7. I have fixed that.

[2020-12-28 05:35] kmadathil commented on #147
Can you upgrade to Python 3.7? I don't think dataclasses is available for 3.6

[2020-12-28 05:41] kmadathil commented on #146
$ python ../../scripts/sanskrit_parser sandhi 'स्वरव्ययं स्वर्गनाकत्रिदिवत्रिदशालयः।'
unable to import 'smart_open.gcs', disabling that module
Interpreting input loosely (strict_io set to false)
INFO     Input String: स्वरव्ययं स्वर्गनाकत्रिदिवत्रिदशालयः।
INFO     Input String in SLP1: svaravyayaM svarganAkatridivatridaSAlayaH
Splits:
INFO     Split: ['svaH', 'avyayam', 'svarga', 'nAka', 'tridiva'

[2020-12-28 07:30] drdhaval2785 commented on #146
The issue has gone away with python3.9.1 installation on my machine.

Not only readme needs updation, but pypi package also needs updation.
Pypi still shows python3.6 as programming language at https://pypi.org/project/sanskrit-parser/

A new version which deprecates python3.6 support is needed to avoid such a problem.

[2020-12-28 07:31] drdhaval2785 commented on #147
Works on CLI with python3.9.1.

README needs to be updated to remove the link to the UI, so that unsuspecting people do not think that the code / UI is broken.

[2020-12-28 08:54] drdhaval2785 opened #148 "Too long time for sandhi split"
Based on the suggestion of @kmadathil at https://github.com/sanskrit-kosha/kosha/issues/38#issuecomment-751585876

I tried the following
[code]

The output is fine.
But the wall clock showed that there were 22 seconds taken for processing this.
Is it OK? or am I missing something.

[2020-12-28 17:06] kmadathil commented on #146
Ok, I will update the pypi package and close this issue after this is up.

[2020-12-28 17:07] kmadathil commented on #147
Will close after README change.

[2020-12-28 17:08] kmadathil commented on #148
7 seconds on my ancient laptop

[code]

[2020-12-28 22:44] #146 closed

[2020-12-28 22:48] #147 closed

[2021-01-03 01:29] kmadathil commented on #145
Resolved with multiedges. Will close when merged to master

![image](https://user-images.githubusercontent.com/9718582/103469907-dfdc1700-4d1f-11eb-886b-dbae9a8cde0b.png)

[2021-01-03 01:30] kmadathil commented on #148
@drdhaval2785 - have you been able to reproduce the timing above, or are you still seeing 22s?

[2021-01-03 01:43] #145 closed

[2021-01-03 01:53] drdhaval2785 commented on #148
Not retested. Will let you know.

[2021-01-03 02:12] kmadathil commented on #148
If you still see higher times, please LMK what your system configuration is.

[2021-01-03 02:15] kmadathil commented on #144
Current status
  - YAML format for Sutras defined and parser implemented. This allows Sutras to be coded easily. This is way better than coding directly in Python, but I'm not 100% happy with the format yet
  -  Implemented ~300 sutras.
  - Can generate prakriya for ajanta pum/strI/napum prAtipadikas.
  - Basic test suite added, with manual and pytest versions
       - pytest suite takes too much

[2021-01-03 02:19] kmadathil commented on #144
[code]

[2021-01-03 04:46] #142 closed

[2021-01-03 04:47] kmadathil commented on #137
Fixed.

[2021-01-03 04:47] #137 closed

[2021-01-04 04:07] kmadathil opened #150 "Fix flake8 issues with sanskrit_parser.generator and remove exclusion of this directory from flake8 invocation"
Fix flake8 issues with sanskrit_parser.generator` and remove exclusion of this directory from flake8 invocation in tox.ini

Currently, tox.ini has: `flake8 sanskrit_parser tests --exclude sanskrit_parser/generator`
`

[2021-01-08 05:07] #127 closed

[2021-01-10 18:23] avinashvarna opened #151 "Reducing memory usage"
I've been trying to set up the API server on App Engine at https://sanskrit-parser.appspot.com. The basic install worked fine, but even a simple query such as /sanskrit_parser/v1/tags/hares exceeds the memory limit and is killed. I've tried upping the instance to the largest supported with 2G mem, with the same result.  @kmadathil which EC2 instance did you use to deploy the API ?

I haven't been

[2021-01-10 18:25] avinashvarna commented on #151
Just noticed that README_ec2 says 1G + 2G swap per worker.

[2021-01-10 18:25] kmadathil commented on #151
I had increased swap (by creating a swapfile) on the EC2 instance I used
till it worked. I'll have to see exactly which one.

On Sun, Jan 10, 2021, 10:23 AM Avinash Varna <notifications@github.com>
wrote:

[2021-01-11 20:23] kmadathil commented on #150
Fixed

[2021-01-11 20:23] #150 closed

[2021-01-11 20:27] kmadathil opened #152 "Document and Publish"
In 2021, let's consider
  a) Creating a good document explaining the software design
  b) Publishing on arxiv.org and in a relevant conference/publication if feasible.

  There are gaps (like a good test suite, and a way to measure metrics better as in #84 )

[2021-01-11 20:28] kmadathil commented on #152
Thoughts, @avinashvarna @vvasuki ?

[2021-01-12 05:21] vvasuki commented on #152
Chuck the "good document". Use a website instead - (eg. https://jyotisham.github.io/jyotisha/software/ hosted from https://github.com/jyotisham/jyotisha/tree/master/hugo-source ) for design, and readthedocs type service for API doc .

For propaganda via conference/ publication - you anyway need a separate doc (with some content copied form the site).

[2021-01-12 15:36] avinashvarna commented on #152
Good idea! More documentation is always better. I am not very familiar with the Sanskrit NLP conferences, but if there is a novel component in our implementation, then we can submit it.

1. I don't think @kmadathil meant a word doc, and I am fine with wiki/website as appropriate.
2. Regarding metrics, I read a few papers published recently on this topic. Several use the [sandhikosh](https://github

[2021-01-12 15:38] avinashvarna opened #153 "Add Sandhikosh to testing"
Recent publications use the [sandhikosh](https://github.com/sanskrit-sandhi/SandhiKosh) described in [this paper](https://www.aclweb.org/anthology/L18-1712/) as a benchmark. Let's add it to our testing and see where we stand.

(Related to #84)

[2021-01-12 17:12] kmadathil commented on #152
An online document/web-page is fine, but we're at a sufficiently advanced stage to document our software design. Once it's documented, we can explore exactly how novel it is. I suspect at least part of it must be, since there aren't many competitors that start from any string and provide a grammatical parse, splitting sandhi along the way. (Are there any that do all of this?)

Avinash, can you pos

[2021-01-12 17:14] kmadathil commented on #153
Since this subsumes UoHD, I think we can make this our primary test corpus for sandhi.

We need to find a corpus for parsing.

[2021-01-13 02:18] kmadathil commented on #153
I can see some erroneous spaces (which we can remove programmatically) and clear bad splits in sandhikosh.
I counted 880 passes and 500ish fails on the BhagavadGitA corpus (no edits)

Some samples, showing issues in the sandhikosh
[code]

[2021-01-13 23:42] kmadathil commented on #153
Take a look at branch multigraph, tests/SandhiKosh.
`manual_test.py` runs tests and outputs to `Results.xls`. I've run for 1000 tests, with 622 passes. I will run for the full dataset next.

[2021-01-14 03:43] kmadathil commented on #153
Updated  - `11080 Tests: 8413 Passed, 1232 Failed, 1430 No_Split, 5 Bad tests`

[2021-01-14 05:11] kmadathil commented on #153
Going by [the SandhiKosh paper](https://www.aclweb.org/anthology/L18-1712.pdf), we are already better than the best result they report (INRIA) for the subset that I ran (Literature, External, UoH).

[2021-01-14 15:28] avinashvarna commented on #152
Don't the INRIA and UoH tools provide a parse along with the splits? A search also found this link, but I couldn't find an interface/source - https://www.appliedsyntax.com/sanskrit-parsing

Most of the recent literature has been focused on using Neural Network based approaches. Most of the papers on [this list](https://scholar.google.com/scholar?cites=9486615442433183714&as_sdt=805&sciodt=0,3&hl=e

[2021-01-14 15:30] avinashvarna commented on #153
That's quite impressive! Thanks for adding this. We can look at the failed ones to understand what's happening. I will try to spend some time on it this weekend.

[2021-01-14 19:36] kmadathil commented on #152
It would be good to survey alternatives. UoH provides a parse, if you go by their publications.  I haven't tried INRIAs parser.  A good testset for parses (analogous to SandhiKosh) would be a way to compare ourselves and look for areas of improvement.

[2021-01-14 19:38] kmadathil commented on #89
This has been superseded by #153 . SandhiKosh includes BhagavadGita testcases, and they have made it easy to use. We already have a working version on the `multigraph` branch.

[2021-01-14 19:41] kmadathil commented on #153
Two big sources of discrepancy - SandhiKosh doesn't split some samAsas (which we do) and usually does not split upasargas which we also do, and IMO should. Both of these are proper pada boundaries.

[2021-01-16 00:23] kmadathil commented on #153
This is where we stand on passes:
[code]
One more issue noticed with the "Internal" set is that sometimes they use a visarga and sometimes an स्
[code]

[2021-01-17 01:29] avinashvarna commented on #153
I am not sure if internal sandhis was a targeted use case. Ditto for AshtadhyayI. After all, the pratyayas and various terms in the sutras wouldn't be in any of the standard dictionaries. This probably explains the somewhat poor performance on those.

Is the lower performance on the literature category attributable to the two differences you mentioned before (splitting samasas and upasargas)?

[2021-01-17 06:39] kmadathil commented on #153
Internal sandhi includes upasargas, which we do fine at (barring special
cases).

The literature case seems to be mostly test problems. On a casual look, it
seems the input is often incompletely split in the test.

On Sat, Jan 16, 2021, 5:29 PM Avinash Varna <notifications@github.com>
wrote:

[2021-01-28 06:30] drdhaval2785 commented on #148
It is still higher.
[code]

[2021-02-01 01:26] avinashvarna commented on #148
I did a quick [profiling](https://github.com/kmadathil/sanskrit_parser/files/5901332/profile.txt) and on my machine it takes <10 seconds as well. The majority of time is spent in loading the module and data though. E.g. expanding all the sandhi rules takes over half the time of initializing the module.

So one opportunity for improvement would be to pre-expand all the sandhi rules into some form o

[2021-02-03 00:40] #89 closed

[2021-02-03 00:50] kmadathil commented on #153
Now that the test is in, but we need to scrub failures, I'm adding  "help wanted", as this would be a good place to start. I intend to get back to this at a (much) later date.

The task is
  - look at `tests/SandhiKosh/Results.xls`, which is generated by `tests/SandhiKosh/manual_test.py`
  - Triage the failures

[code]
  - Look for possible causes - we know of many
      1. Test data has incomplet

[2021-02-03 00:57] kmadathil commented on #152
From what I could read
1. [UoH](https://www.aclweb.org/anthology/W19-7502.pdf) does not start from an un-split sentence - they assume a sandhi split sentence
2. SHR (Sanskrit Heritage Reader - [Goyal and Huet 2016](https://www.researchgate.net/publication/309277735_Design_and_analysis_of_a_lean_interface_for_Sanskrit_corpus_annotation)) splits sentences, but does not do sentence analysis
3. IIT-Kg

[2021-02-03 01:00] kmadathil opened #155 "Create tests for Vakya Analyzer"
Locate the DCS10K and DCS4K datasets mentioned in [https://www.aclweb.org/anthology/D18-1276.pdf](this paper). Also, look at the [larger dataset mentioned in this later paper. ](https://www.aclweb.org/anthology/W17-2214.pdf)

From these, create a set of testcases for the vakya analyzer.

[2021-02-03 01:13] kmadathil commented on #155
An even better option may be the smaller 1300 sentence testset found in this [even later paper.](https://www.aclweb.org/anthology/2020.emnlp-main.388.pdf) . Advantage, it is available on github

[2021-02-03 22:40] kmadathil opened #156 "Add CONLL format to Vakya Analyzer output."
This seems to be the standard format for Morph-syntactic parse outputs. See [here](https://github.com/krishnamrith12/KISS_Sanskrit_Parsing_Data/tree/main/dataset) for example.

We should add options to
 1. Display vakya parse output in CONLL format
 2. Write to CONLL format

[2021-02-05 16:09] avinashvarna commented on #155
Thanks for the investigation. I've been a bit busy but will try do some catching up this weekend, by reading up on the papers.

The KISS paper has some superficial similarities. I found the supplementary material helpful in understanding the methodology, but probably need to read it a few more times to completely understand it.

We should probably plan out a proper sequence of next steps (based on

[2021-02-07 00:12] kmadathil opened #157 "Can we rename ParseResult to SentenceGraph in api.py"
I have this confusion everytime I open api.py :-)

[code]

ParseResult seems out of place. Since it's essentially a SandhiGraph, can we call it SentenceGraph or something else that indicates what it is? Maybe also change `Parser.parse()` to `Parser.sentence()` ? Thoughts?

[2021-02-07 19:21] avinashvarna commented on #157
IMHO, the API (implemented in `api.py`) is from the perspective of a user of the library, who knows nothing about the internals. I am not sure `SandhiGraph` or `SentenceGraph` conveys additional meaning to such a user. Also, if we change it from a graph to something else later, I would prefer to abstract these implementation details from the user. Maybe we can arrive at something that makes sense

[2021-02-07 19:34] kmadathil commented on #157
Your idea is even better. So, let's have
[code]
It's indeed better to hide SandhiGraph / VakyaGraph from the end user.

If someone really needs to access them, they can be accessed as Split.graph or Parse.graph, perhaps.

[2021-02-07 23:18] avinashvarna commented on #148
I pushed a "quick and dirty attempt" at reducing the initialization time to branch `fix_148`. It is a combination of an attempt to reduce the memory usage (#151) + this issue. Sample results on my machine:

[code]
On `fix_148` branch
[code]

@drdhaval2785 Could you please try the `fix_148` branch when you get a chance and check if you get similar improvements?

[2021-02-08 00:10] avinashvarna commented on #134
I have a basic version working at https://sanskrit-parser.appspot.com based on the fixes for #148 and #151. The REST API can be accessed in the usual way. E.g. https://sanskrit-parser.appspot.com/sanskrit_parser/v1/splits/astyuttarasyAm

Navigating to the base URL https://sanskrit-parser.appspot.com redirects to the UI that is already available (https://kmadathil.github.io/sanskrit_parser/ui/index

[2021-02-08 22:47] kmadathil commented on #134
Nice!

The View Graph links result in a 404. There's a static directory that needs to be created and dot must be installed. Not sure how that works in appspot.

[2021-02-09 02:50] avinashvarna commented on #134
Appspot filesystem is read-only. If we need the graphs, we should return the .dot graph in the JSON response and use a graph plotting library such as https://github.com/dagrejs/dagre-d3 to display it client-side

[2021-02-11 22:09] kmadathil commented on #155
I have received the DCS10K and KISS datasets from Amrith Krishna. KISS has been committed into the DB. DCS10K will be added after I figure out how to (too many directories).

I have added basic test infrastructure and added a test_parser.py. I will close this after I get KISS tests working.

[2021-02-12 03:25] avinashvarna opened #158 "Add notebooks that can be run on binder/colab for interactive exploration?"
I think it would be a good idea to add at least one jupyter notebook that shows how to use the parser API. The notebook can be run on cloud based services such as binder or colab, for interactive exploration. I actually initiated a [binder build](https://mybinder.org/v2/gh/kmadathil/sanskrit_parser/master) and created a notebook. Unfortunately, I didn't realize that it doesn't save the notebook. S

[2021-02-12 03:28] kmadathil commented on #158
Good idea.

On Thu, Feb 11, 2021 at 7:25 PM Avinash Varna <notifications@github.com>
wrote:

[2021-02-12 03:29] avinashvarna opened #159 "Add some examples on options in UI"
The UI page contains no information on what the three different options mean, or what output to expect. It would be good to add a few examples on how to use it.

[2021-02-12 18:57] #156 closed

[2021-02-12 18:57] kmadathil commented on #156
`--conll-file` option added to write conll outputs.

[2021-02-24 06:33] avinashvarna opened #160 "Cache VakyaGraphNode str representations"
Investigating ways to speed up parsing (to partially address #148 as well as enable better app_engine performance), I discovered that there is a lot of logging in `datastructures.py` that makes 1000s of calls to `VakyaGraphNode.__str__`, which cumulatively consumes a lot of time.

From what I can see, the VakyaGraphNode class should be considered immutable (i.e. it is not modified after creation).

[2021-02-24 17:15] kmadathil commented on #160
`VakyaGraphNode` was intended to be mutable, but I don't actually see any case where it is being used mutably now. The plan in my head for implementing samuccaya relies on mutability, but I haven't done that yet. However, we could still do it the way you mention, and provide an interface for mutability that computes `self._str`.

Also,
 1. Most of those are logger.debug, so should this matter when

[2021-02-25 02:56] avinashvarna commented on #160
If we implement the fields using the `property` decorator and getters/setters, then the `self._str` could be updated any time one of the fields change, allowing for mutability.
1. This was a gotcha for me as well, though it makes sense in hindsight.
2. Yes, only for the parse. So it doesn't address #148 directly, but I was doing a lot of profiling for that as well.

[2021-02-25 04:34] kmadathil commented on #160
Agree. Do you want to do that as part of your speedup branch or do you want me to commit this independently? I'm ok either way

[2021-02-25 05:54] avinashvarna commented on #160
I can make this change. Regarding the speedups, we should have a separate
discussion on the pros and cons. I will update #148 and related issues with
the details.

On Wed, Feb 24, 2021, 9:34 PM Karthikeyan Madathil <notifications@github.com>
wrote:

[2021-03-01 04:04] #160 closed

[2021-03-03 03:16] avinashvarna commented on #148
To reduce the initialization time issue discussed in this thread, the fix used is to pre-expand the sandhi rules and store them. The necessary forward/backward rules are loaded as needed (i.e. only backward rules are loaded for splitting and forward for joining). This slightly increases the size on disk for a speed-up in module startup. If this solution is what we want to go with, I can clean it u

[2021-03-03 03:20] avinashvarna commented on #151
For the sandhi rules, loading only the rules needed (forward/backward) seems to be working reasonably for now (it halves the memory usage at least). Further optimizations could be implemented in the future, if necessary.

To reduce the memory used by the INRIA db, I've tried implementing a sqlite database (so that all the forms don't need to be loaded into memory) in the fix_148 branch, and docume

[2021-03-03 03:20] #151 closed

[2021-03-03 21:42] kmadathil commented on #148
Go for it.

[2021-03-06 17:48] #148 closed

[2021-03-08 14:24] avinashvarna commented on #157
Pushed some changes to [api_changes](https://github.com/kmadathil/sanskrit_parser/tree/api_changes) branch. Both Parser.split() and Split.parse() return lists for simplicity. I also added an Ipython notebook as an [example](https://github.com/kmadathil/sanskrit_parser/blob/api_changes/examples/basic_example.ipynb).

[2021-03-08 14:25] avinashvarna commented on #158
Added an Ipython notebook as an [example](https://github.com/kmadathil/sanskrit_parser/blob/api_changes/examples/basic_example.ipynb). Need to add binder badge, etc.

[2021-03-08 22:37] kmadathil commented on #157
Looks good. I have updated the cmd_line and some tests to match this and pushed to the same branch. I also rebuilt the docs. Please review, and we can merge.

[2021-03-08 22:44] kmadathil commented on #158
This is nice!

[2021-03-09 01:59] kmadathil commented on #157
I also pushed a change to the same branch to use image-charts.com to display dot files instead of locally converting to png, as discussed in #134. This is less work than using dagre-js, at the cost of a watermark.
Please try it out if possible.

[2021-03-09 04:46] gasyoun commented on #159
URL?

[2021-03-09 04:49] gasyoun commented on #155
https://zenodo.org/record/803508# is from 2017, so there has been a DCS update after it.

There is this set of sentences that J. Huet trained on as well.

[apte-verified.txt](https://github.com/kmadathil/sanskrit_parser/files/6105921/apte-verified.txt)

[2021-03-09 15:13] avinashvarna commented on #157
Thanks. I was planning to update the cmd_line and tests after you had a chance to review the changes, to avoid thrash. The changes look good to me. I wasn't aware of image-charts.com, but it's a great find! I will update the notebook with this as well.

[2021-03-10 05:16] kmadathil commented on #134
@avinashvarna - can you update the appspot installation to the latest master. It's currently broken for vakya analysis because the front end is expecting something that the older backend doesn't provide.

[2021-03-10 06:08] avinashvarna commented on #158
Closed via #163

[2021-03-10 06:08] #158 closed

[2021-03-10 06:21] avinashvarna commented on #134
Done. The graphs are pretty cool with image-charts. 👍 Thanks for updating the UI!

I've updated the default api_url_base to sanskrit-parser.appspot.com in the UI (just in case someone has bookmarked the previous link).

The charges for the appspot engine are negligible. So I'm ok with letting it be on all the time. I think this issue can be closed now, if you think so too.

[2021-03-10 18:22] kmadathil commented on #134
Closing

[2021-03-10 18:22] #134 closed

[2021-03-10 18:26] kmadathil commented on #157
Closing

[2021-03-15 18:15] kmadathil commented on #134
Reopening to discuss update procedure

@avinashvarna  - can we add an action to automatically push code on release to appspot? (We can do updates asynchronously in-between releases as needed).
I was doing the pypi update asynchronously, I've now added an action to push to pypi on every release. I'll plan to be more formal on releases as well.

[2021-03-16 15:20] gasyoun commented on #155
https://kmadathil.github.io/sanskrit_parser/ui/index.html?api_url_base=https://sanskrit-parser.appspot.com/ what did I do wrong? Nothing ever returned

![gof](https://user-images.githubusercontent.com/80761/111334039-48cafe00-8684-11eb-9c0b-9d89ac01369d.JPG)

[2021-03-16 15:47] drdhaval2785 commented on #155
Web service is closed, due to not many users. Readme was also updated recently to explicitly say so, as far as I remember. Not able to locate it now.

[2021-03-16 16:54] avinashvarna commented on #155
@drdhaval2785 Actually, we created a different web service on Google App Engine which is always enabled.

@gasyoun Thanks for reporting this issue. Looking at the logs, it does seem to be related to the parsing. I see logs of the form:
[code]
@kmadathil can you please take a look to see if this works from the command line? I can also take a look, but probably in the weekend.

[2021-03-16 17:15] kmadathil commented on #155
@gasyoun Please try a different input. This is an error condition that somehow is hanging the API

[2021-03-16 17:38] avinashvarna commented on #155
Actually, sorry. The log I was looking at was for a slightly shorter input than what was in the reported issue. It appears that this input is causing the parse to take > 30s (which is the time limit on App Engine), and the process gets killed. GAE instances are not super-high performance, so we may need further optimizations.

[2021-03-16 22:19] gasyoun commented on #155
How many words can I input?

[2021-03-19 19:51] gasyoun commented on #152
There are only two around.

[2021-03-19 23:40] kmadathil commented on #152
I have updated the documentation with more information about our internals.

[2021-03-20 03:58] kmadathil commented on #155
I've sped this case up using on_the_fly constraint checking  (explained in the Sphinx document). This case takes about 8 seconds on my computer

[code]
@avinashvarna  - thanks for the idea! Please update appspot to v0.2.3

[2021-03-21 22:09] avinashvarna commented on #155
I updated, but the online version still times out for this input (runs in a container after all).

[2021-03-23 21:44] gasyoun opened #164 "Batch samasa splitter"
Samasa splitter was not invented for first time by Dhaval, but guess it was the first open code one.

https://github.com/drdhaval2785/samasasplitter/issues/1

Is there a way to split 4000 words in a row with `sanskrit_parser`?

Full list to be split here https://github.com/funderburkjim/MWderivations/issues/14

[2021-03-23 21:45] gasyoun commented on #155
So no way to test the scripts on the web, only locally?

[2021-03-23 21:50] kmadathil commented on #155
Please hold on while we update the web service. We are working through some deployment issue with the sped-up code. It should work for you after that.

[2021-03-23 21:55] kmadathil commented on #164
Yes.

1) Please put the 4000 words in a file and write a simple bash script like thus (presuming you're on Linux)
[code]

2) If you want to do it programmatically, please see tests/SandhiKosh/manual_tests.py for an example of reading from CSV files and running sandhi split.

[2021-03-23 23:51] gasyoun commented on #164
Does it mean it will break all sandhis or will use some dictionary with sample breakings as a basis? I have never used your code, do not know where to start from.

https://github.com/kmadathil/sanskrit_parser/tests/SandhiKosh/manual_tests.py ?

[2021-03-23 23:53] gasyoun commented on #155
Oh, ok, I can wait for a few hours anyway ))

[2021-03-24 03:01] avinashvarna commented on #155
If you are comfortable with python notebooks, you can use Binder and modify [this notebook](https://mybinder.org/v2/gh/kmadathil/sanskrit_parser/HEAD?filepath=examples%2Fbasic_example.ipynb) for your input to test it out online.

[2021-03-24 03:16] avinashvarna commented on #164
For this specific purpose, the online interface works well for testing. E.g. using the sandhi split option at https://sanskrit-parser.appspot.com on the first word in that list:
![image](https://user-images.githubusercontent.com/758539/112249041-4a606d00-8c14-11eb-985b-e136a3cf6bfa.png)

It breaks all sandhis, uses dictionary to figure out which ones result in valid words, and scores them based on

[2021-03-24 07:47] gasyoun opened #165 "Different Transliteration Schemes for Input"
Can the script tolerate not only `sambhūyasamutthāna`, but also `saṁbhūyasamutthāna`?

![issue](https://user-images.githubusercontent.com/80761/112273303-4113e680-8c8e-11eb-867e-5dbf5ed679e9.JPG)

[2021-03-24 13:14] gasyoun commented on #164
I would say even too many.

Which dictionary?

So it uses DCS frequency, right? The higher, the more possible?

[code]

[2021-03-24 15:07] avinashvarna commented on #164
Agreed. When we say all, we mean "all possible". Over-generation is quite likely currently. As long as they are all grammatically valid though, there is no easy way to figure out the correct one without a broader context. Some of the over-splitting is also due to a lot of uncommon words present in the MW dictionary which we use for checking if a word is valid. If you have any ideas on how to filte

[2021-03-24 15:59] drdhaval2785 commented on #164
MD i.e. Macdonell seems to be ideal candidate for replacing MW to retain only widely used words. Used to give me more decent results than MW.

[2021-03-24 16:16] kmadathil commented on #165
We can handle most Brahmi-derived scripts and some transliterations such as SLP1, ITRANS, IAST, HK, and Velthuis.  Which transliteration uses ṁ?

[2021-03-24 17:03] avinashvarna commented on #165
This is valid IAST. We depend on the indic_transliteration package to handle the transliteration. May need to see if there is some error in the package, or our wrapper around it.

[2021-03-24 17:07] avinashvarna commented on #164
Thanks @drdhaval2785, will look into it. We should probably file a separate issue to track such an effort.

[2021-03-24 17:24] kmadathil commented on #165
[IAST](https://en.wikipedia.org/wiki/International_Alphabet_of_Sanskrit_Transliteration) uses ṃ, not ṁ

[2021-03-24 17:47] avinashvarna commented on #165
Oops. Sorry. didn't notice the dot above vs below. It looks like it represents a different character in ISO - https://en.wikipedia.org/wiki/International_Alphabet_of_Sanskrit_Transliteration#Comparison_with_ISO_15919

[2021-03-24 18:45] gasyoun commented on #165
Yes, and it's quite popular. IAST is not as IAST everywhere.

Those that want to differ different anusvaras or anusvara and anunasika.

[2021-03-24 18:52] gasyoun commented on #164
Half of them are agrammatical.

`sambhūya sam utthān a`

Even for vadic it woudl be too much.

In `sambhūya sam utthāna` you do not split as `sam bhūya sam utthāna`, why? Why is not `sambhūya samutthāna` above the rest?

It had around 25k words last time I checked. Why do you do not use Apte's vyutpatti?

Around 33k words, so similar in size to INRIA.

[2021-03-24 19:45] kmadathil commented on #165
Can you request that [indic_transliteration](https://github.com/sanskrit-coders/indic_transliteration) support this encoding? Our support will come automatically.

[2021-03-26 13:56] VladimirWl commented on #164
I try to run the program under windows.
i run setup.py bdist_wininit and i got binary installation file. i run it and all installation  is correct. the command Sanskrit_parser not found, then i run cmd_line.py and i got an error:
ModuleNotFoundError: No Module Named 'indic_transliteration'' Can you help me, please.. With the best regards. Vladimir.

[2021-03-26 15:06] kmadathil commented on #164
If you have pip, can you try `pip install sanskrit_parser`? That will
install all the dependencies as well and put the script on your path.

On Fri, Mar 26, 2021, 6:56 AM VladimirWl ***@***.***> wrote:

[2021-03-26 16:09] VladimirWl commented on #164
Thank you very much. but now it asks for "gensim" module.  i'll try to reinstall python.

[2021-03-26 16:18] kmadathil commented on #164
Strange. `gensim` is a dependency, and is in setup.py, so it should be automatically installed if you do  `py -m pip install sanskrit_parser`.

These are the dependencies that should get automatically installed
[code]

[2021-03-26 16:45] VladimirWl commented on #164
When i install it i got folowing error:  (Screenshot link see below)
https://yadi.sk/i/r38mInyUfZRT8A

[2021-03-26 16:54] kmadathil commented on #164
Looks like you need a C++ compiler to compile the gensim model. This is not essential, if you just want to try it out without using lexical scoring (only difference will be the ordering of your sandhi splits). Just add `--no-score` to the command line when you try sandhi split (this is default when you do vakya analysis, so that should work out of the box.) Can you confirm that all your other depe

[2021-03-26 17:08] VladimirWl commented on #164
yes. all other dependences were installed ok. just gensim. i'l try without scoring..

[2021-03-26 20:09] gasyoun commented on #164
Scoring is important, we would not want to live without it.

[2021-03-26 21:06] kmadathil commented on #164
It's up to you, we provide both options.

[2021-03-26 22:42] avinashvarna commented on #164
If you want to use scoring, but can't/don't want to install the c++ compiler to get `gensim` working, here are two options:
* Use Binder notebooks to run your code in the cloud -  [example notebook](https://github.com/kmadathil/sanskrit_parser/blob/master/examples/basic_example.ipynb)
* Use the REST API of sanskrit-parser.appspot.com documented here - https://sanskrit-parser.appspot.com/sanskrit_p

[2021-03-27 09:00] VladimirWl commented on #164
Thank you very much!

[2021-03-28 06:42] kmadathil commented on #165
We have two options
  1) Handle this under "normalize" if it is indeed a common use-case
  2) Get an ISO15919 scheme implemented, where this is legal

[2021-03-31 12:29] gasyoun opened #167 "Microsoft Visual C++ 14"
Why in https://github.com/kmadathil/sanskrit_parser#installation if I install on
Windows nothing is said about the need of Microsoft Visual C++ 14.0? It's 18 **gigabytes**

[code]

![image_2021_03_31T12_31_30_028Z](https://user-images.githubusercontent.com/80761/113144826-5e205a80-9236-11eb-9c98-799f3a8252bf.png)

[2021-03-31 12:47] gasyoun commented on #164
Nothing works. How to feed 4000 words to your API? Is it the one? How to install it?
[code]

[2021-03-31 13:09] gasyoun commented on #165
Anyway will do.

[2021-03-31 13:10] gasyoun commented on #152
Installing instructions would be a good place to start from.

[2021-03-31 16:11] kmadathil commented on #167
gensim is a dependency for us. This is a gensim install issue - asking the gensim team would be best.

[2021-03-31 16:15] kmadathil commented on #165
Since Vishvas isn't too keen to implement it, this will happen as and when we have some extra bandwidth. In the meantime, please use IAST.

[2021-03-31 16:16] #167 closed

[2021-03-31 16:17] kmadathil commented on #164
@gasyoun  - Please see Avinash's answer above.

[2021-03-31 16:24] kmadathil commented on #152
@gasyoun  - Install is as simple as `pip install sanskrit_parser`, which is documented.

If your concern is about the MS VC++ dependency on gensim,  please take it up with them. Your alternative is to run Linux (which I recommend), but you'll need to install build-essentials there as well. This is a gensim requirement, not for our code.

We will explore alternatives to gensim.

[2021-03-31 20:50] kmadathil opened #168 "Gensim dependency"
As reported in #167  - the dependency on gensim is causing installation to be complex for some.

We should consider making this easier on the end-user.

One possible option is something like (in `lexical_scorer.py`)
[code]
and later use this to check if it's loaded or not. If the scorer is called, and this isn't loaded, we output an error message stating that gensim wasn't properly installed, and

[2021-04-01 06:31] avinashvarna commented on #167
If you don't want to install MSVC build tools, you can install gensim from this website:
https://www.lfd.uci.edu/~gohlke/pythonlibs/

Please pay special attention to this step:
[code]

Then download and install the version of gensim that corresponds to your python version:
https://www.lfd.uci.edu/~gohlke/pythonlibs/#gensim

[2021-04-01 06:53] gasyoun commented on #164
I'm sorry to say it's not understandable by someone outside your box. Let me add a few examples:

https://mybinder.org/ is meant or https://jupyter.org/binder ?

It's just one phrase. How to feed 4000 such at once?

[2021-04-01 11:17] gasyoun commented on #168
And part of what code it is. `Gensim` equals to 18 gigabytes of shitty code, thanks.

[2021-04-01 11:21] gasyoun commented on #155
Would ask for a video intro, if possible, please.

[2021-04-01 11:34] gasyoun commented on #112
@vvasuki are you aware of all the vaidika options at https://github.com/funderburkjim/ScharfSandhi ?

[2021-04-01 11:35] gasyoun opened #169 "CMD Mode Output to Text File"
![dsdadasdassda](https://user-images.githubusercontent.com/80761/113288307-74421f80-92f7-11eb-9009-c6a87792425d.png)

How to the results not only in CMD, but TXT?

![dasdasdasadsadsadsadsads](https://user-images.githubusercontent.com/80761/113288340-802de180-92f7-11eb-89b0-38945fd157cf.png)

Another issue. In vakya mode goes further. In sandhi mode stops.

[2021-04-01 11:37] gasyoun commented on #93
Is there an improvement after two years?

[2021-04-01 11:52] drdhaval2785 commented on #168
I didnt know gensim was that bulky, but it worked well when I tried it last.

[2021-04-01 12:28] gasyoun commented on #144
Have you seen P. Scharf's code? Based on it such picture can be generated:

![KVfpnPuQMCc](https://user-images.githubusercontent.com/80761/113293672-bfabfc00-92fe-11eb-9e01-2fac494e0e94.jpg)

[2021-04-01 12:55] gasyoun commented on #168
You can have it only as a part of a HUGE mega-library. It's a monster.

[2021-04-01 14:47] gasyoun commented on #152
To split 4000 samasas? No, thanks. I will have to find an another alternative.

[2021-04-01 15:32] kmadathil commented on #169
Sorry, we cannot teach you how to use Windows.

[2021-04-01 15:32] #169 closed

[2021-04-01 15:34] kmadathil commented on #168
@gasyoun - Please be mindful of norms. I have deleted a comment with a word that is not normally considered printable.

[2021-04-01 16:51] kmadathil commented on #164
Partial output of the following command attached (this is with scoring, and the full dictionary set):
[code]
If this works for you, you can run the Windows equivalent to get the full result.
[result.txt](https://github.com/kmadathil/sanskrit_parser/files/6245106/result.txt)

[2021-04-02 02:12] kmadathil commented on #164
Full results of the above run - this is the first split only
[result.txt](https://github.com/kmadathil/sanskrit_parser/files/6247290/result.txt)

[2021-04-02 02:30] vvasuki commented on #152
Since I like to keep track of such, it'd be useful if you notify us of any alternative you find (preferably accompanied by a brief review).

[2021-04-02 06:52] VladimirWl commented on #164
Thank you so much for helping us!!!

[2021-04-02 07:10] gasyoun commented on #164
Thanks, @kmadathil you helped us out. We will continue, but seems there are still lots of things we do wrong.

[2021-04-02 20:27] gasyoun opened #170 "No split found vs. No split done"
What is the difference between `No split found` in sandhi mode and returning `parivatsarīṇa` for `parivatsarīṇa`?

[2021-04-02 21:28] gasyoun commented on #84
An Automatic Sanskrit Compound Processing

![automatics](https://user-images.githubusercontent.com/80761/113455495-6f728e00-9413-11eb-96cc-8cc858279e52.JPG)

[anil.pdf](https://github.com/kmadathil/sanskrit_parser/files/6251295/anil.pdf)

How would you classify the approach?

[2021-04-03 16:25] vvasuki commented on #112
Hearing about it for the first time! What all can it do?

[2021-04-04 07:59] gasyoun commented on #168
@kmadathil please excuse me. I get nervous when I do not understand how the code actually works and what it requires without no hints.

[2021-04-08 15:32] kmadathil commented on #170
parivatsarīṇa is in one of the dictionaries, so it is considered a valid split as-is.

[2021-04-08 18:27] kmadathil commented on #165
A temporary solution has been implemented, which internally forces ISO15919 to IAST. We will implement a full ISO15919 later.

[2021-04-08 19:09] kmadathil commented on #164
Thanks!

[2021-04-08 19:11] kmadathil commented on #168
We decided to document an alternative gensim installation method instead of doing this. The issue will be closed after it is added to README.

[2021-04-08 20:33] gasyoun commented on #168
Thanks.

[2021-04-11 04:19] avinashvarna commented on #168
Updated README with the instructions. Please check and close if sufficient.

[2021-04-11 04:27] #168 closed

[2021-04-11 17:47] #170 closed

[2021-04-12 06:17] avinashvarna commented on #167
@gasyoun @artanat @ VladimirWI could you please tell me the exact command you used to try to install `gensim`/`sanskrit_parser` and the python version, windows version, etc. you used? I tried it just now on a windows system *without* visual studio build tools, and it worked for me with python 3.8. I want to understand the differences between our setups.

[2021-04-13 20:33] kmadathil commented on #165
Added UI support for this. Please remember to uncheck Strict Mode if you want to use ISO15919
![smb](https://user-images.githubusercontent.com/9718582/114617267-c7539500-9c5c-11eb-9f75-822b8c54a1a3.png)

[2021-04-13 20:33] #165 closed

[2021-05-25 02:37] vvasuki opened #171 "IsADirectoryError"
https://github.com/kmadathil/sanskrit_parser/blob/master/sanskrit_parser/output_utils/__init__.py इत्यस्य चालनेन

[code]
इति लभे। किमत्र विधेयम्?

[2021-05-25 04:31] kmadathil commented on #171
[code]
एताः‌ समस्या अपि परिहर्तव्याः

[2021-05-25 04:36] kmadathil commented on #171
मन्ये Python 3.9 कारणेनोत्पन्ना इयं समस्या। 3.7 उपयुज्य समीचीनैव प्रवर्तते ।
[code]

[2021-05-25 15:04] avinashvarna commented on #171
3.9 मध्ये files इत्यस्य उपयोगः कर्तव्य इति भाति (https://docs.python.org/3/library/importlib.html?highlight=importlib#importlib.resources.files) । 3.7-3.9 इत्येतेषु सर्वेषु समानतया एतत् कथं साधनीयम् इति अन्वेषणीयम् । (अस्माकं CI मध्ये 3.9 योजनीयम् इत्येतदपि पृथक् कार्यम् । )

lint दोषान् परिहर्तुं शक्नोमि । परन्तु एतत् कुत्र स्थापनीयम् इति विषयः चर्चनीयः । `contrib`/`examples` उत वर्तमानं स्थानम्

[2021-05-26 03:44] vvasuki commented on #171
स्थाने निश्चीयमाने पदभेदक-यन्त्रस्याफल्गुता भाविनीति ध्यातव्या (यथा परिष्कारापवादजातम् उक्तं https://groups.google.com/g/sanskrit-programmers/c/5PUwV911Tbw इति सूत्रे)। अथ वैविध्यमपि प्रयोक्त्रपेक्षानुसारम् वर्धेत। तेनैवंविधं सुचिन्तितं स्थानम् अनुदाहरणमात्रसूचकं युक्तम्।

[2021-06-11 03:32] avinashvarna commented on #171
Lint दोषाः मया परिहृताः । Py 3.8 testing च योजितम् ।

अस्माकं code मध्ये तु py 3.9 support योजयितुं शक्यते, परन्तु Gensim इत्यनेन py3.9 support अधुना न क्रियते । अतः सद्यः तु py 3.7/3.8 एव इति सूचनीयं स्यात् ।

[2021-06-15 22:20] vananasun commented on #171
Bump. Having the same error on my fresh Linux installation.

[2021-06-15 23:01] kmadathil commented on #171
केन python क्रमाङ्केन ?‌ @vananasun

[2021-06-16 02:26] kmadathil commented on #171
@vananasun - which version of python do you see this error with?

[2021-06-16 14:22] vananasun commented on #171
3.9.x

[2021-06-16 15:47] kmadathil commented on #171
@vananasun - As Avinash indicated above, we are unable to support properly 3.9.x because gensim does not. Thus, we are limited to 3.7/3.8 as of now

@avinashvarna - अस्माकं तन्त्रंशमध्ये sys.version_info दृष्ट्वा तदनुसृतं प्रवर्तनपरिवर्न्तनं निश्चेतुं शक्यं स्यात् । 3.9 सति gensim एव न प्रवर्तेत चेत् तस्यैव प्रवर्तनं निरुध्य सूचनां दातुमपि शक्यम् । अन्यत्सर्वं यथाविधि प्रवर्तेत । एवं करणीयमुत नेति

[2021-06-17 01:03] vvasuki commented on #171
अयम् मार्ग उत्तमो भाति।

[2021-06-17 17:03] #171 closed

[2022-05-20 03:06] vvasuki opened #174 "pytest broken."
While fixing sanscript usage via https://github.com/kmadathil/sanskrit_parser/commit/820d998d9cf4ec07d0511187928f0d00bead37c9 , I noticed that pytest could not be run. I get the below:

[code]

Tried running pip install again and looked at the README, but could not figure out a script to get this missing file.

[2022-05-20 03:17] vvasuki opened #175 "hyphenator improvements"
https://github.com/kmadathil/sanskrit_parser/blob/master/sanskrit_parser/output_utils/__init__.py इत्यस्य चालनेन

इति पाठाद्

इति लभ्यते।

पुरा त्व् अविनाशेन "श्रुति-भगवती-चरण-प्रतीका छन्दोविचितिर् इति वेद-अङ्ग-विदः सम-आम-नन्ति । अस्य चरण-युगलस्य गतिर् एव च्छन्दःसुषमेति तत्-मर्म-विदाम् प्रेक्षा ।" इति लब्धुं शक्यत इत्य् उक्तम्। तत् कथं लभ्यताम्?

## अग्रिमापेक्षाः

अग्रे किञ्चित् परिष्कारा ‌/ अपवा

[2022-05-20 03:26] kmadathil commented on #174
That's fine, only the tests under the test directory need be run. The subdirs have other requirements. In this case, it expects the SandhiKosh project data to be in a subdir. I should probably make it a sub-repo, but that has its own complications. I'll leave this open until I confirm by running tests on the new master that all the requisite tests are passing.
I also notice that TravisCI isn't fun

[2022-05-20 03:28] kmadathil opened #176 "Fix TravisCI integration"
TravisCI integration looks broken since travis.org got shut down.

[2022-05-20 03:50] kmadathil commented on #174
I am seeing test failures due to this change @vvasuki .
Please check with
`pytest --test-count 1000 tests/test_DhatuWrapper.py tests/test_sandhi.py tests/test_SanskritLexicalAnalyzer.py tests/test_SandhiKosh.py tests/test_parser.py`

[2022-05-20 04:19] vvasuki commented on #176
Use github actions instead

[2022-05-20 04:43] vvasuki commented on #176
Fixed if https://github.com/kmadathil/sanskrit_parser/runs/6519127121?check_suite_focus=true works

[2022-05-20 04:44] vvasuki commented on #174
Fixed I think - https://github.com/kmadathil/sanskrit_parser/runs/6519127121?check_suite_focus=true should confirm .

[2022-05-20 04:57] kmadathil commented on #174
Closing

[2022-05-20 04:57] #174 closed

[2022-05-20 04:58] kmadathil commented on #176
So it does.

[2022-05-20 04:58] #176 closed

[2022-06-25 05:20] vvasuki opened #177 "ease up on sqalchemy requriements"
On my computer I get:

Can you ease up on this version insistence?

[2022-06-25 17:37] kmadathil commented on #177
@avinashvarna - Since this is your part of the code, is the reason to fix sqlalchemy at < 1.4 still valid?

[2022-06-26 20:23] avinashvarna commented on #177
It originally comes from the sanskrit_util library [requirement](https://github.com/avinashvarna/sanskrit_util/blob/241647185b0ba3155280b3256e002d0343e088d2/setup.cfg#L19) that we rely on. My recollection is that travis was not resolving the dependencies properly and I had to replicate it here. I can remove it from here, but the fundamental problem remains.

sqlalchemy 1.4 made some changes that b

[2022-06-27 00:58] vvasuki commented on #177
From @akprasad at https://discord.com/channels/987203574947795004/987203574947795007/990782379960451132 , who is (happily for us) active again -

[2022-06-27 01:50] kmadathil commented on #177
Can we autodetect the sqlalchemy version and disable `sanskrit_utils` ?

[2022-06-27 16:47] avinashvarna commented on #177
We could, but I am not in favor of it. Dependency management is a general problem, and the typical (industry-wide) solution has been to use virtual environments. If we start down this path, where do we draw the line? We would have to do this for every non-critical package, and then testing and validating that all these combinations work properly becomes complex.

We could just wait until this libr

[2022-06-27 17:04] kmadathil commented on #177
I am in favour of a virtual environment if that works. @vvasuki - does your use case allow for that?

[2022-06-28 02:28] vvasuki commented on #177
virtual environments don't solve the problem if one _needs_ multiple relevant packages within the same environment (which is the typical case). sanskrit_parser is far from the only package folks like me want to use!

I certainly haven't felt the need to work on different projects in different virtual environments on my personal computer so far (sounds complicated life!) - so, this problem is atypi

[2022-06-28 07:02] avinashvarna commented on #177
Fair enough. If there are multiple packages with conflicting requirements, then virtual environments don't solve the problem on their own.

@kmadathil, your call. I am fine with making this change/delaying until the library gets rewritten. After all, even one person is probably a significant portion of our active users ;-) Hopefully, we don't run into too many such issues.

[2022-06-29 01:15] akprasad commented on #177
I'm starting my rewrite / refactor of `sanskrit` now. Since that package is used here and since `sanskrit` is a generic name, I will probably rename the package to avoid too much confusion and to avoid breaking things.

Feel free to suggest a good name -- my mind went to `brahmi`, `bharati`, `bhasha`, `vak`, `vani`, ... basically just what's in the Amarakosha. Or perhaps something utilitarian like

[2022-06-29 01:44] vvasuki commented on #177
@akprasad my sincere suggestion to you as well as sanskrit_parser authors is to separate out different functionalities in different packages - despite having dependencies. For example, in this case, there is no reason why transliteration module should coexist with sandhi module within the same package (also, there is already https://github.com/indic-transliteration/indic_transliteration_py ). Some

[2022-06-29 02:15] akprasad commented on #177
Agreed -- I think I made `sanskrit` that way originally so it could be an all-in-one package before `indic_transliteration` was available.

[2022-06-30 03:22] avinashvarna commented on #177
IMHO, a descriptive name (such as `indic_transliteration`) is easier to
remember than an abstract name.

On Tue, Jun 28, 2022, 7:16 PM Arun Prasad ***@***.***> wrote:

[2022-06-30 15:51] kmadathil commented on #177
The core functionalities of `sanskrit_parser` are the sandhi and vAkya (aka 'dependency parsing') analysis.

All transliteration is from `indic_transliteration` (with a wrapper) - I don't think we have any actual added functionality over this.

We use pada analysis ('morphological analysis' in modernese) from INRIA and the `sanskrit_utils` (which I believe is a clone of the `sanskrit` package), ag

[2022-06-30 15:55] vvasuki commented on #177
सन्धिघटनं भिन्नमञ्जूषायाम् भवितुम् अर्हति। सन्धिविघटनम् अस्त्व् अत्र नाम।

[2022-07-30 18:40] kmadathil opened #179 "Darmo rakzati rakzitaH doesn't get correctly parsed as a vAkya"
Initial debug - looks like rakzitaH (and other kta forms) are not being treated fully correctly. I need to dig into my notes about why this limitation exists and figure out how to remove it.

[2022-07-31 19:11] avinashvarna commented on #179
It does get parsed correctly for one of the two options:
[code]
produces:
[code]
In the first split, where `rakzitaH` was parsed as `rakzitar`, no valid parse is found. In the second one, where `rakzitaH` is parsed as `rakzitas`, the parse output is correct.

However, when we pass `pre_segmented=True`, we force `replace_ending_visarga='r'` here: https://github.com/kmadathil/sanskrit_parser/blob/9f

[2022-07-31 19:57] kmadathil commented on #179
rakzitaH can be
 1) रक्षितर् - रक्षितृ | एकवचनम्,पुंल्लिङ्गम्,संबोधनविभक्तिः or
 2) रक्षितस् - रक्षित | कृदन्तः,प्रथमाविभक्तिः,एकवचनम्,पुंल्लिङ्गम्,कर्मणि,प्राथमिकः,क्त

In  https://github.com/kmadathil/sanskrit_parser/blob/9fbae62ad0c15f2df6499a687b2e1cf95b51946d/sanskrit_parser/api.py#L112-L124

we prioritize the r form over the s form if it exists during a  presegmented split (used by the UI).

[2022-07-31 20:02] kmadathil commented on #179
This is my summary of a potential fix
   - If both an r and s-anta exist, we supply both downstream.
   - This results in `_maybe_pre_segment` returning a list of strings
   - `split` downstream will handle a list of strings as well as strings. In the list case, the splits of each member will be concatenated to give the result

[2022-07-31 23:53] avinashvarna commented on #179
Indeed, I should have said that we prioritize the `'r'` replacement over the `'s'`. The proposed solution looks fine to try out to me. We should also think about how the results are presented to the user. Currently the user sees `['DarmaH', 'rakzati', 'rakzitaH']` twice and it is confusing as to why there are two seemingly identical splits (it was to me when I first started looking into this issue

[2022-08-01 19:53] kmadathil commented on #179
Strict mode (`--strict-io`) disambiguates this. I've always preferred this for my own use :-)

That suggests a better fix. I've implemented it in the `karthik` branch and tested locally, and it seems fine. Please review PR #180

[2022-08-02 19:38] kmadathil commented on #179
I have merged the PR.
However, we need to further discuss two concerns on that fix (which is limited to the Web UI, not the command line script)

How do we handle this in the command line script? Should we turn `strict_io` on, and use a display filter, such as we (now) have for the Web UI?

This raises the larger question of what should be the proper domain of the parser vs what should be the prop

[2022-08-02 22:24] kmadathil opened #181 "App Engine Push broken?"
I made a new release with the new UI code, and https://sanskrit-parser.appspot.com/ doesn't work any more. Did I do something incorrect?

[2022-08-03 01:26] avinashvarna commented on #181
Looking at the logs, and googling the error, it appears to be due to this issue - https://github.com/python-restx/flask-restx/issues/460. The latest push caused the container to be rebuilt, which surfaced this error. The solution suggested [here](https://stackoverflow.com/questions/73105877/importerror-cannot-import-name-parse-rule-from-werkzeug-routing) is to pin the version of `werkzeug` until t

[2022-08-03 01:39] #181 closed

[2022-08-03 01:48] avinashvarna commented on #181
I've pinned werkzeug version and changed the github workflow to run on any tag push of `v*` as well. I've tagged it v0.2.4-post2, but it's not reflected in the library version shown in the UI

[2022-08-03 02:30] kmadathil commented on #181
Thanks for fixing this. The library version requires a modification to `sanskrit_parser/__init__.py`. I have bumped the version to 0.2.4-post3 and also pushed a tag v0.2.4-post3. This version is now correctly reflected in the UI. I am not making a release as this doesn't affect any of the functionality in 0.2.4

[2022-08-03 21:46] kmadathil commented on #177
Possible path- we claim the `sanskrit` namespace, and use [namespace packages ](https://setuptools.pypa.io/en/latest/userguide/package_discovery.html#using-find-namespace-or-find-namespace-packages)

Thus, we can package up `sanskrit.sandhi` (as `sanskrit-sandhi` in pypi), `sanskrit.parser`  etc. separately.

[2022-08-05 16:07] avinashvarna commented on #179
IMHO, the majority of users who would want to use a parser are probably not looking to understand the nuances of a visarga that arose from sasajuSho ruH vs something else. I am in favor of just displaying one split, by collapsing the two options in this case. Later, for parsing, we could try replacing the visarga with both 'r' and 's' and return the combined results as you suggested. We can do tha

[2022-10-09 02:18] akprasad commented on #177
I believe https://github.com/avinashvarna/sanskrit_util/pull/2 will fix `sanskrit_util` to support sqlalchemy >1.4. I ran unit tests but didn't run any deeper integration tests, so please run other tests as you see fit.

@avinashvarna or @kmadathil : please let me know if you can take a look soon, as this is blocking some work on Ambuda.

[2022-10-09 03:20] akprasad opened #182 "Bhagavad Gita 1.1 returns no parse results:"
Minimal example:

[code]

Each phrase has lexical splits with no parse information. Output is:

[code]

[2022-10-09 03:28] akprasad commented on #182
Also, I get around 1.8 seconds per verse:

[code]

Is there anything we can do to improve performance here? Ideally I'd like around 100ms per verse.

[2022-10-09 12:03] kmadathil commented on #182
@akprasad Arun, thanks for reporting this. This is what's going on
  1. We need a verb of some sort to anchor the parse. However, since samavetAH is a kta form, that should qualify, and so we should be able to generate a parse (though not the correct one without the rest of the sentence). I see that samaveta isn't tagged as a kta in the dictionary. I validated this by parsing Darmakzetre kurukzetr

[2022-10-09 12:33] kmadathil commented on #177
I can see that Avinash has released `sanskrit_util`, but it seems to break `sanskrit_parser`. @avinashvarna - do we need to change anything in `sanskrit_parser` to match those changes?

[2022-10-09 16:42] akprasad commented on #177
@kmadathil This looks like the issue I mentioned in my pull request:

The fix is to either rebuild the database or update your existing database to set the `discriminator` column to 0 where it is currently null.

[2022-10-10 03:26] kmadathil commented on #177
Makes sense. @avinashvarna - Avinash, you have a script to rebuild this right? Can you run it when you have time?

[2022-10-11 06:12] kmadathil opened #183 "Can we get parse down to 100ms"
Moving this comment from @akprasad to a different issue:

Also, I get around 1.8 seconds per verse:

import time
num_trials = 20
start = time.time()
for i, phrase in enumerate([
    'Darmakzetre kurukzetre samavetA yuyutsavaH',
    'mAmakAH pARqavAScEva kimakurvata saMjaya',
    ] * num_trials):
    resp = api_example(phrase, 'slp1')

end = time.time()
print((end - start) / num_trials)

Is there a

[2022-10-11 09:58] kmadathil commented on #182
'Darmakzetre kurukzetre samavetAH yuyutsavaH kim akurvata saMjaya' now parses correctly, and has been added to the test suite.

This takes roughly 400ms

[2022-10-11 17:14] avinashvarna commented on #177
I'll try to do it this weekend. I don't know if the option that @akprasad suggested above to just replace `null` with `0` would be faster though.

[2022-10-11 17:19] avinashvarna commented on #183
I have my hands full, so I don't know if I can run a lot of experiments, but I'll try to think of ways to improve. It did take some work to get it down to the current timing, though there's probably room for improvement.
@kmadathil , could you run a profiler to identify the bottleneck? If possible, could you run it with `lexical_lookup=inria` vs the default `combined` to see if the extra entries t

[2022-10-12 03:19] kmadathil commented on #183
Will do. I don't think I've aggressively optimized many parts of the parser, so I'll take those up.

[2022-10-12 04:52] kmadathil commented on #182
Hi Arun @akprasad

Can we get on a conf call to discuss this weekend to discuss use modes? (Would be good if @avinashvarna can join too). I can demo the UI to you so you can switch to that (or our command line) from the api.

The flow I have in mind (and which is what our UI does) is a two step process
  1. Split sandhis, and let the user pick the right split from an ordered list
  2. Parse the se

[2022-10-12 05:12] kmadathil commented on #177
I've updated `sanskrit_data.db` to replace null with 0 in `root.discriminator` and it seems to work.

[2022-10-12 15:41] akprasad commented on #182
Sure, let's sync over email.

[2022-10-18 09:12] kmadathil commented on #177
Made release v0.2.5 with the manually updated db

[2022-10-18 09:12] #177 closed